$background-light: rgb(248, 249, 250);
$background-dark: rgb(33, 37, 41);
$font-dark: rgba(0, 0, 0, 0.9);
$font-semidark: rgba(0, 0, 0, 0.55);
$font-light: rgb(255, 255, 255);
$font-semilight: rgba(255, 255, 255, 0.5);
$btn-color: #212529;
$reit-color: rgb(255, 193, 7);
$prod-href: #de0c62;
$hide-width: 752px;

$main-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
